.modal-icon {
  height: 30px;
  object-fit: contain; /* keeps the images aspect ratio */
  object-position: center;
}

.icons-wrapper-inner {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 560px) {
  .icons-wrapper-inner {
    gap: 16px;
    justify-content: center;
  }
  .tech-icons--wrapper {
    padding-top: 8px;
  }

  .modal-icon {
    height: 25px;
  }
}

@media screen and (max-height: 740px) {
  .icons-wrapper-inner {
    gap: 10px;
  }

  .modal-content {
    width: 332px;
  }
}
