@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body {
  background: #fcfcfc;
}

p {
  font-size: clamp(12px, 2vw, 14px);
  color: #333;
  font-family: "Montserrat";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}
