.input__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.2rem;
}
textarea {
  width: 100%;
}
.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
}
